#canada-map{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding-top: 50px;
  max-height: 600px;
}

.color-block {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-top: 8px;
  margin-right: 4px;
  vertical-align: bottom;
}

.key-row span {display: inline-block;}

.key-regulated {
  background: #3071ed;
}

.key-cpi {
  background: #c9ccd1;
}

#info-box {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  background-color: #ffffff;
  border: 2px solid #12126f;
  border-radius: 5px;
  padding: 5px;
  font-family: arial;
}
path {cursor: progress;}

path:hover, circle:hover {
  stroke: #002868 !important;
  stroke-width:2px;
  stroke-linejoin: round;
  fill: #002868 !important;
  cursor: pointer!important;
  transition: 0.6s;
}

.unregulated {
  fill: #3071ed !important;
}
.regulated:hover {
  fill: #636a79 !important;
  stroke: #fff !important;
}

.regulated {
  fill: #c9ccd1 !important;
}
